---
title: Equipe API Docs
---
<div class="docs">
  {% include course.html %}

  {% assign sorted_collections = site.collections | sort: "position" %}
  {% for collection in sorted_collections %}
    {% if collection.docs.size > 0 %}
      <header class="collection-head">
        <h2>{{ collection.title }}</h2>
        {% if collection.description %}
          <p>{{ collection.description }}</p>
        {% endif %}
      </header>
    {% endif %}

    {% assign sorted_docs = collection.docs | sort: "position" %}
    {% for doc in sorted_docs %}
      {% assign doc_id = doc.id | replace: '/', '' | replace: '.', '' %}
      <article class="doc">
        <section class="left-docs">
          <h3 class="doc-title" id="{{ doc_id }}">
            <a href="#{{ doc_id }}">{{ doc.title }}</a>
            {% if doc.type %}
              <span class="endpoint {{ doc.type }}">{{ doc.type | upcase }}</span>
            {% endif %}
          </h3>
          {% if doc.description %}
            <p class="description">{{doc.description}}</p>
          {% endif %}

          {{ doc.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
        </section>

        {% if doc.right_code %}
          <section class="right-code">
            {{ doc.right_code | markdownify }}
          </section>
        {% endif %}
      </article>
    {% endfor %}
  {% endfor %}
</div>
