{% assign sorted_collections = site.collections | sort: "position" %}
{% for collection in sorted_collections %}
  {% if collection.label != "posts" %}
    <section>
      <h2 class="sidebar-title">{{ collection.title }}</h2>
      <ul>
        {% assign sorted_docs = collection.docs | sort: "position" %}
        {% for doc in sorted_docs %}
          <li>
            <a href="{% if page.url != '/' %}/{% endif %}#{{ doc.id | replace: '/', '' | replace: '.', ''}}">
              <span class="sidebar-label">{{ doc.title }}</span>
              {% if doc.type %}<span class="endpoint {{ doc.type }}">{{ doc.type | upcase }}</span>{% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endfor %}
